*.tmp
/docker/**/*
!/docker/**/Dockerfile*
!/docker/docker-compose*.yaml

**/*.git-i.*


/var/**/*
/etc/**/*
/tmp/**/*
/dev/**/*
/proc/**/*

.vscode/**/*
!.vscode/settings.json

__$__BUILD/**/*


.venv/
.dat/
